h1 {
  font-size: 1.75em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.35em;
}

h4, h5, h6 {
  font-size: 1.15em;
}

form {
  background-color: rgba(250, 250, 250, 0.5);
  padding-left: 25px;
  box-sizing: border-box;
}
form h2 {
  font-family: "News Cycle";
  font-size: 28px;
  margin-top: 0px;
}
form * {
  box-sizing: border-box;
}
form label {
  display: block;
  padding: 0px 25px;
  margin-bottom: 15px;
  font-size: 18px;
  text-transform: uppercase;
}
form label:after {
  clear: both;
  display: block;
  content: "";
}
form label span {
  display: inline-block;
  width: 35%;
  float: left;
  font-family: "Alegreya Sans SC";
  font-weight: 700;
}
form label input, form label select, form label textarea {
  width: 40%;
  display: inline-block;
  float: left;
  color:black;
}
form label input[type="number"], form label select[type="number"], form label textarea[type="number"] {
  max-width: 50px;
}
form label input[type="radio"], form label select[type="radio"], form label textarea[type="radio"] {
  max-width: 50px;
  float: none;
}
form label textarea {
  height: 135px;
  font-size: 15px;
}
form label label {
  margin-left: 160px;
  float: left;
  width: 150px;
  font-size: 24px;
  font-family: "Alegreya Sans SC";
  font-weight: 700;
  text-transform: uppercase;
}
form label input[type="text"] {
  width: 300px;
}
form input[type="submit"] {
  width: 200px;
  padding: 10px;
  font-family: "Alegreya Sans SC";
  font-weight: 900;
  font-size: 20px;
  clear: both;
  float: left;
  background-color:#0084a8;
}

.left {
  float: left;
}

.right {
  float: right;
}

.pre-loader {
  width: 45px;
  height: 45px;
}

html {
  background-image: url("../images/onyx-pattern.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

body {
  padding: 10px;
}
body.OnyxInstall {
  color: #fff;
}
body.OnyxInstall:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(250, 250, 250, 0.05);
  background-color: rgba(0, 0, 0, 0.55);
  display: block;
  content: "";
  z-index: -1;
}
body.OnyxInstall:after {
  content: "";
  clear: both;
  display: block;
}
body.OnyxInstall #db, body.OnyxInstall #lib, body.OnyxInstall #write {
  position: relative;
  padding: 10px 25px;
}
body.OnyxInstall #db .status, body.OnyxInstall #lib .status, body.OnyxInstall #write .status {
  width: 45px;
  height: 45px;
  display: block;
  background-image: url("../images/onyx-loader.gif");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: -25px;
  top: 0px;
}

body.OnyxInstall .welcome-message {
  width: 35%;
}
body.OnyxInstall div.health-check {
  padding-left:10em;
}
div{
            box-sizing: border-box;
        }
        #onyx-admin-sidesection{
            width:200px;
            background-color:black;
            position:fixed;
            top:0px;
            left:0px;
            height:100%;
            color:#FFF;
        }
        #onyx-admin-topsection{
            width:100%;
            background-color:black;
            background: url('http://onyxdev.dev/onyx/assets/images/onyx-pattern.jpg');
            background-size:cover;
            background-repeat:no-repeat;
            background-position: center;
            position:fixed;
            top:0px;
            left:0px;
            height:80px;
            z-index:2;
        }
        #information{
            position:absolute;
            top:0px;
            left:0px;
            background-color:#0084A8;
            height:40px;
            width:100%;
        }
        #onyx-glance {
            padding:0px !important;
	       width:200px;
            height:100%;
            background-color:black;
             background: url('http://onyxdev.dev/onyx/assets/images/3d-onyx.jpg');
            background-size:cover;
            background-repeat:no-repeat;
            position:absolute;
            color:#FFF;
        }
        #onyx-brand{
            height:45px;
            width:100%;
            color:#FFF;
        }
             #onyx-brand img{
            height:100%;
        }
        #user-info{           
            height:35px;
        }
        div#onyx-admin-menu-section {
            height: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
            padding: 145px 5px 0px 10px;
            width: 100%;
                overflow-x: hidden;
    overflow-y: auto;
        }
        .top-section-innercontainer {
    color: black;
    padding: 10px 0px 0px 200px;
            height:100%;
}
        .right-container {
        float: right;
            color:#FFF;
    background-color: #000;
    height: 100%;
    padding: 5px 10px;
    font-weight: 700;
    font-size: 16px;
            max-width:100%;
            /*width:250px;*/
            line-height: 20px;
}
        .top-dash {
    
    margin-left: 205px;
    color: #fff;
    width: 100%;
    height: 35px;
}
            
        .administrator-menu-items{
            list-style:none;
            padding-left:10px;
            margin:0px;
        }
        ul.administrator-menu-items li{
            display:block;
            line-height:30px;
            font-size:20px;
        }
        .onyx-admincontent-section {
    margin-left: 200px;
    margin-top: 80px;
    padding: 15px;
    
}
        .full-container {
    padding: 5px 0px 0px 10px;
    background: rgba(250,250,250,0.6);
    height: 100%;
    width: 100%;
    color: #000;
}